#productsListContainer {
    width: 100%;
    min-height: 100vh;
    padding: 10vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 30px;

    article {
        display: grid;
        grid-template-columns: 1;
        grid-template-rows: 90% 5% 5%;
        gap: 5px;
        cursor: pointer;

       #productListArticleImage {
        width: 100%;
        height: 100%;
        object-fit: cover;
       } 

       h2 {
        font-size: 16px;
       }

       p {
        font-size: 14px;
       }
    }
}

@media (max-width: 1024px) {
    #productsListContainer {
        article {
           h2 {
            font-size: 13px;
           }
    
           p {
            font-size: 11px;
           }
        }
    }
}

@media (max-width: 430px) {
    #productsListContainer {
        padding: 10vh 5vw;
        grid-template-columns: repeat(2, 1fr);
    
        article {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
           #productListArticleImage {
            height: 200px;
            object-fit: cover;
            gap: 0;
           } 
    
           h2 {
            font-size: 16px;
           }
    
           p {
            font-size: 14px;
           }
        }
    }
}